/******************************************************
 *  LAZERS!!                 *
\*****************************************************/

body {
  background: #FFF;
  text-align: center;
  margin: 0px;
  font-family: Georgia, Times, serif;
  font-size: 18px;
  line-height: 150%;
}

#container {
  margin: 0px auto;
  width: 800px;
  text-align: left;
}

#main {
  width: 800px;
  position: relative;
}

#footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

#nav {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 270px;
}

#content {
  margin-left: 280px;
}
h1, h2, h3, h4 {
  font-weight: normal;
}

img {
  border:none;
}

a:link, a:visited {
  color:#D32637;
  text-decoration: none;
}
a:hover {
  color:#81153B;
  text-decoration:underline;
}

#nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#nav ul li {
  padding: 0px;
  margin: 0px;
}
#nav ul li a {
  display:block;
  font-size: 22px;
  padding: 10px 0px;
  overflow:hidden;
  white-space: nowrap;
}
#nav ul li a:hover {
  background: #D32637;
  color: #FFF;
  text-decoration:none;
}
#nav ul li a span {
  text-decoration: line-through;
}