<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Team Lazer: Free! : {{ page.title }}</title>
	<link rel="stylesheet" href="../stylesheets/lazers.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
  <div id="container">
    <div id="main">
      <div id="logo">
        <a href="/free/"><img src="../images/lazerfree.gif" alt="TEAM LAZER, FREE!" /></a>
      </div>
      <div id="nav">
        <ul>
          <li><a href="index.html">About!</a></li>
          <li><a href="faq.html">FAQ!</a></li>
          <li><a href="application.html">Apply!</a></li>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        &copy; 2009 Quirkey NYC, LLC. Lazer by Maya Miller.
      </div>
    </div>
  </div>
</body>
</html>